<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Library</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
    <header>
        Games Library
    </header>

    <% if (errors && errors.length > 0) { %>
        <div class="error-messages">
            <% errors.forEach(function(error) { %>
                <p><%= error.msg %></p>
            <% }) %>
        </div>
    <% } %>

    <div class="main-container">
        <h2>Manage Your Games</h2>

        <form action="/search" method="get">
            <div class="search-container">
                <input class="search-bar" name="searchTerm" type="text" placeholder="Search games..." value="<%= searchTerm %>">
                <button type="submit">Search</button> 
            </div>
        </form>

        <div class="button-container">
            <button>Add Product</button>
            <button>Filter</button>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Developer</th>
                <th>Genre</th>
            </tr>
            <% items.forEach(item => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.developer_name || 'N/A' %></td>
                    <td><%= item.genre_name || 'N/A' %></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>


